@font-face {
    font-family:'Songti';
    src: url('../font/飞花宋体.ttf');
}
.full_page::after{
    content: '';
    color: #ffffff; 
    font-weight: bolder;
    font-size: 8pt; 
}
body{
    font-family:'Songti';
}
.highlight .bash{
    font-family: monospace;
}
#subtitle {
    cursor: pointer;
    font-size: 16pt;
    color: #ffffff; 
    font-family:'Songti'; 
    opacity: .5;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}
#subtitle::before{
    content: '- ';
}
#subtitle::after{
    content: "-";
}
#site-info #site-title{
    display: none;
}
#nav{ 
    color: black;
}
.avatar-img{
    border: solid 5px rgb(255, 0, 162);
    cursor: pointer;
}
.aside-content #card-info-btn{
    background: rgb(28, 99, 213);
    color: #ffffff;
}
::selection{
    background: rgba(28, 99, 213, 0.463);
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.code pre::before{
    content: '> ';
}
